
:root {
    --beige: #FAF1E6;
    --white: #FDFAF6;
    --light: #E4EFE7;
    --green: #064420;
}

body {
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: var(--green);
    font-family: 'Source Code Pro', monospace;
}

input,button {
    border: 2px solid var(--green);
    background: var(--white);
    padding: 0.5em;
    font-size: 1rem;
    color: inherit;
    margin: 0.5em;
    font-family: inherit;
}

.current {
    background: var(--beige);
}

.table-wrapper {
    position: relative;
}


.players-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5em;
}

.start {
    margin-top: 5em;
    cursor: pointer;
    font-weight: 700;
}

table {
    border-collapse: collapse;
}

td {
    border: 5px solid var(--green);
    vertical-align: middle;
    text-align: center;
    font-size: 2rem;
    height: 2em;
    width: 2em;
    cursor: pointer;
}

.top-left {
    border-top: none;
    border-left: none;
}

.top-mid {
    border-top: none;
}

.top-right {
    border-top: none;
    border-right: none;
}

.mid-left {
    border-left: none;
}

.bot-left {
    border-left: none;
    border-bottom: none;
}

.bot-mid {
    border-bottom: none;
}
.bot-right {
    border-right: none;
    border-bottom: none;
}

.mid-right {
    border-right: none;
}

.x {
    position: relative;
}

.x::before, .x::after {
    top: 10%;
    position: absolute;
    content: "";
    height: 80%;
    width: 5px;
    background-color: var(--green);
}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

.o {
    position: relative
}

.o::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    position: absolute;
    border: 5px solid var(--green);
    border-radius: 500%;
    height: 70%;
    width: 70%;
}


.result {
    display: block;
    word-wrap: break-word;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: var(--light);
}
